<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.altinn.apps.fisher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.FactoryDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.FishDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.ReportReceivedFishActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.InformationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.UserProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.ReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.ReportSendDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.altinn.apps.fisher.ui.screen.BrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>